<!-- 
    we have 3 types of component selector
    1. HTML Tag - selector: "top-header"
    1. HTML attribute - selector: "[top-header]"
    1. CSS Class - selector: ".top-header"
 -->

<!-- <top-header></top-header> -->          <!-- this will be used when its a HTML Tag selector (refer top-header component file)-->
<div top-header></div>                      <!-- HTML attribute -->
<!-- <app-header></app-header> -->      
<div class="app-header"></div>              <!-- CSS class -->
<!-- <button type="button" class="btn btn-danger">Danger</button> -->
<product-list></product-list>